.gym-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gym-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.gym-text {
    max-width: 280px;
    padding-top: 15px;
    font-size: 14px;
    line-height: 17px;
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
}

.gym-image {
    width: 280px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #ED1260;;
}

@media screen and (min-width: 1024px) {
    .gym-text {
        font-size: 18px;
        line-height: 22px;
    }

    .gym-item {
        width: 50%;
    }

}