.footer-section {
    border: #F38A03 solid 5px;
    height: 260px;
    margin-top: 60px;
}

.h6-contacts-text {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 26px;
}

.flex-footer-section {
    display: flex;
    padding: 15px 40px;
}

.flex-column {
    flex: 50%;
}

.footer-img {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.contacts-text {
    font-size: 18px;
    color: #FFFFFF;
}

.contacts-text-padding {
    padding-top: 35px;
}