.footer {
    border: #F38A03 5px solid;
}

.title-center-align {
    text-align: center;
    padding-top: 25px;
}

.flex-wrapper {
    padding: 25px 0 25px 60px;
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
}

.footer-img {
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
}

.contacts-text {
    color: #FFFFFF;
    padding-bottom: 0;
}

.footer-img-description {
    display: none;
}

@media (min-width: 1024px) {
    .footer {
        border: none;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 75px 0;
    }

    .flex-item {
        flex-direction: column;
        align-items: center;
    }

    .title-center-align {
        text-align: left;
        padding-top: 0;
    }

    .footer-img-description {
        display: block;
    }

    .footer-img {
        width: 25px;
    }

    .contacts-text {
        padding-top: 5px;
    }
}