.header-container {
    margin: 0 auto;
    padding: 0 20px;
}

.logo-link {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: none;
}

.logo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 51px;
}

.icon-container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 15px;
}


@media (min-width: 1024px) {
    .header-container {
        padding: 0 40px;
    }

    .header-clear-padding {
        padding-left: 15px;
    }

    .logo {
        width: 90px;
        height: 60px;
    }

    .icon-container {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    .menu-link {
        color: white;
        font-weight: 500;
        font-size: 20px;
    }

    .navbar__lang-list {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;       /* Remove default arrow */
        background-color: transparent;
        border: none;
        color: white;
        font-weight: 500;
        font-size: 20px;
    }

    .select-arrow {
        position: relative;
    }

    .select-arrow:after {
        position: absolute;
        content: "\003e";
        font-size: 14px;
        display: block;
        width: 0;
        height: 0;
        color: white;
        transform: rotate(90deg);
        top: 40%;
        right: -11px;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 30px;
        left: -53%;
        background-color: #151616;
        box-shadow: 0 0 5px 3px rgba(0,0,0,1);
        z-index: 1;
    }
    .menu-item-dropdown {
        position: relative;
    }

    .dropdown-item-link {
        color: #F38A03;
        padding: 15px 40px;
        display: block;
        text-align: left;
    }

    .dropdown-item-link:hover {
        background-color: #2f2f2f;
    }

    .dropdown-active {
        display: block;
    }

}