.logo-link {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: none;
}

.logo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 51px;
}

.icon-container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 15px;
}

@media (min-width: 1024px) {
    .icon-container {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .menu-items {
        display: flex;
    }

    .menu-item {
        padding: 0 90px;
    }
    
    .menu-link {
        text-decoration: none;
        color: #fff;
    }
}