.icon-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 0 10px;
    max-width: 276px;
}

.dumbbells-img {
    width: 65px;
    height: 51px;
}

.cardio-img {
    width: 55px;
    height: 55px;
}

.pool-img {
    width: 65px;
    height: 65px;
}

.child-img {
    width: 55px;
    height: 55px;
}

.juice-img {
    width: 65px;
    height: 55px;
}

.boxing-img {
    width: 55px;
    height: 55px;
}

.sport-text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 22px;

}

.icon-item1 {
    padding-top: 60px;
}

.icon-item3 {
    padding-top: 60px;
}

.icon-item2 {
    padding-top: 43px;
}

@media (min-width: 1024px) {
    .icon-section {
        margin: 0 auto;
        max-width: 915px;
        max-height: 325px;
    }
}


.icon-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
    text-align: center;
}


.icon_img {
    background-size: cover;
    width: 55px;
    height: 55px;
}

.icon_info {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-top: 20px;
    max-width: 177px;
}


@media (min-width: 640px) {
    .icon-item {
        width: 41%;
    }
}
@media (min-width: 1024px) {
    .icon-wrapper {
        justify-content: space-between;
    }

    .icon-item {
        width: 27%;
    }
    .icon_info {
        font-size: 18px;
        line-height: 22px;
        padding-top: 25px;
    }
}

























