.main-image-wrapper-marketing.main-image-wrapper::after {
    background-color: #4C4184;
}

.main-image-wrapper-danit.main-image-wrapper::after {
    background-color: #1ECDAA;
}

.main-image-wrapper-energym.main-image-wrapper::after {
    background-color: #ED1260;;
}

.main-image-wrapper {
    margin-bottom: 86px;
}

.main-image-black {
    display: flex;
    padding: 30px 20px;
}
.main-image-black.centered {
    align-items: center;
}
.main-title {
    position: relative;
    width: 257px;
    height: 110px;
    padding: 27px 47px;
    color: #FFF;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    background-color: black;
}

.estate-main-title.main-title {
    padding: 42px 48px;
    width: 269px;
    height: 116px;
}

.main-link {
    position: absolute;
    bottom: -54%;
    left: 25%;
    margin-top: 18px;
    width: 131px;
    height: 36px;
    padding: 7px 32px;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    background-color: black;
}

.main-link:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .main-image-wrapper {
        margin-bottom: 33px;
    }

    .main-image-black {
        align-items: center;
        padding-left: 50px;
    }

    .main-title {
        width: 327px;
        height: 141px;
        padding: 34px 60px;
        font-size: 32px;
        line-height: 39px;
    }

    .estate-main-title.main-title {
        width: 327px;
        height: 141px;
    }

    .main-link {
        bottom: -73%;
        left: 20%;
        padding: 14px 55px;
        width: 200px;
        height: 55px;
        font-size: 22px;
        line-height: 27px;
    }

}

