.main-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 7px;
    margin-bottom: 50px;
}

.main-image {
    width: 100%;
    height: 490px;
    background-position-x: 72%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-image-wrapper::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -32px;
    background-color: #F38A03;
    width: 70%;
    height: 32px;
}

.main-subtitle {
    position: absolute;
    left: 20px;
    top: 58px;
    width: 250px;
    padding: 15px 0 15px 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    background: linear-gradient(180deg, #242323 0%, rgba(36, 35, 35, 0.2) 100%);
    border: 5px solid #F38A03;
}

.section-text {
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    padding: 0 30px 0 50px;
}

.section-title {
    font-weight: 500;
    font-size: 25px;
    margin: 25px 0;
    color: #FFF;
    padding-left: 50px;
}

@media (min-width: 1024px) {
    .main-image-wrapper {
        margin-top: 15px;
        justify-content: flex-end;
        margin-bottom: 15px;
    }

    .main-image {
        width: 90%;
        height: 615px;
        background-size: cover;
    }

    .main-image-wrapper::after {
        width: 10%;
        height: 520px;
        position: static;
    }

    .main-subtitle {
        width: 400px;
        font-size: 45px;
        line-height: 55px;
        left: 20px;
        top: 170px;
    }

    .section-text {
        font-size: 22px;
        line-height: 27px;
        padding: 0 50px 0 10px;
    }

    .section-title {
        padding-left: 10px;
    }
}
